@charset "UTF-8";
/* CSS Document */

* {

padding: 0;

margin: 0;

}
body {

	background-color: #000;

}

/* 05B Web Desing Start */
header {
  background-color: #336600;
  padding: 30px;
  text-align: center;
  font-size: 35px;
  color: white;
}

section {
  background-color: #FFFFFF;
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 30px;
  padding-left: 20px;
 display: block;
  float: left;
}

nav {
  background: #99CC33;
  padding: 30px;
  
}

nav ul {
  list-style-type: none;
 
}

nav li {
 float: left;
 display: block;
 margin-right: auto;
 margin-top: auto;
 margin-bottom: auto;
 margin-left: 30px;
 font-size: 18px;

}

article {
  background-color: #FFFFFF;
  padding: 20px;
  display: block;
}

footer {
  background-color: #336600;
  padding: 10px;
  text-align: center;
  color: white;

}
/* 05B Web Desing End */


.box {

	background-color: #FFFFFF;

	display: block;

	padding: 20px;

	border: thin solid #999;

	height: 1690px;

	width: 600px;

	margin: auto;

}

.news{
	background-color:#999999;
	border:10px;
	border-radius: 15px 50px;
	padding: 20px;
	}


h1 {

	margin-bottom: 15px;
	border-bottom:double;

}

i {
	font-size:12px;
	}
	
figcaption {
	font-size:10px;}

